<div class="row">
    <div class="col-md-12">
        <h4>Consulta de Produtos</h4>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-stripped table-hover">
            <thead>
                <tr>
                    <th>Nome do Produto</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Fornecedor</th>
                    <th width="20%">Operações</th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="btn btn-primary btn-sm mr-1">Atualizar</button>
                        <button class="btn btn-danger btn-sm">Excluir</button>
                    </td>
                </tr>
            </tbody> 
            <tfoot>
                <tr>
                    <td colspan="5">
                        Quantidade de fornecedores: 0
                    </td>
                </tr>
            </tfoot>  
        </table>

    </div>
</div>